@model MvcApplication1.Models.restaurante
@{
    ViewBag.Title = "Exibir detalhes do registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="titulo">
    <h1>Detalhes do restaurante</h1>
</div>
<div class="secundario">
    <div class="display-field">
        <img width="620" height="186" src="data:image/jpg;base64,@(Convert.ToBase64String(@Model.imagem))" alt="" />
    </div>

    <div class="display-label">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
        Tipo: @Html.DisplayFor(model => model.tipo)
    </div>

    <div class="display-label">
        Estilo: @Html.DisplayFor(model => model.estilo)
    </div>

    <div class="display-label">
        Horário de Funcionamento: @Html.DisplayFor(model => model.horario)
    </div>

    <div class="display-label">
        Endereço: @Html.DisplayFor(model => model.endereço)
    </div>

    <div class="display-label">
        Bairro: @Html.DisplayFor(model => model.bairro)
    </div>

    <div class="display-label">
        Cidade: @Html.DisplayFor(model => model.cidade)
    </div>
    <br />
    <div class="display-label">
        @Html.DisplayFor(model => model.descricao)
    </div>
</div>
<div class="finalDetalhe">
    <p>
        @Html.ActionLink("Editar registro", "Edit", new { id = Model.cod }) |
        @Html.ActionLink("Apagar registro", "Delete", new { id = Model.cod }) |
        @Html.ActionLink("Retornar a Lista", "Index") |
    </p>
</div>
<div class="finalComentario">
    <div class="display-label-c">
        <h2>Comentários:</h2>
        @Html.Partial("PartialComentario", Model.comentario)
    </div>
</div>